<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Avatar</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Speciality</th>
      <%if current_user.admin?%>
      <th>Actions</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% doctors.each do |doctor| %>
    <tr>

 <td><%= cl_image_tag doctor.profile.avatar.key, :width=>150, :crop=>"fill" %></td> 
      <td><%= doctor.profile.first_name %></td>
      <td><%= doctor.profile.last_name %></td>
      <td><%= doctor.phone %></td>
      <td><%= doctor.profile.doctor_speciality.name %></td>
      <%if current_user.admin?%>
      <td><%= link_to 'Edit', edit_profile_path(doctor) %></td>
<%end%>
      <%
=begin%>
 <td><%= link_to 'Show', player %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Destroy', player, method: :delete %></td> 
<%
=end%>
      <%
=begin%>
      <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%
=end%>
    </tr>
    <% end %>
  </tbody>
</table>